
#header {
    background-color: #3498db;
    height: 70px;
}

.navbar-brand {
    color: #fff;
}

.navbar-brand:hover {
    color: #ecf0f1; 
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 2560px;
}


#main-content {
    background-image: url("../image/graphic.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh; 
    padding: 20px;
    color: #fff;
}



.card {
    height: 480px;
    background-color: #ecf0f1;
    border: none; 
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-top: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#mainpage_card{
    margin-top: 10rem;
    height: 170px;
}

.card-title {
    color: #3498db; 
}

.card-text {
    color: #333; 
}

.btn-primary {
    background-color: #3498db; 
    border-color: #3498db; 
    position:absolute;
    bottom: 23px;
}

.btn-primary:hover {
    background-color: #2980b9; 
    border-color: #2980b9; 
    color: #fff; 
}


#footer {
    margin-top: 200px;
    justify-content: center;
    background-color: black;
    height: 45px;
    width: 1550px;
}
