{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container" id="dashboard-content">
  <div class="row">
      {% for graphic in graphics %}
          <div class="col-md-4 mb-4">
              <div class="card">
                  <img src="{% static graphic.url_img %}" class="card-img-top" alt="Graph 1">
                  <div class="card-body">
                      <p class="card-text">{{graphic.descricao}}</p>
                  </div>
              </div>
          </div>
      {% endfor %}
  </div>
</div>

{% endblock %}
