{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card h-100">
        <img src="{% static 'images/monitor_de_tubao.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">teste</h5>
            <p class="card-text">teste</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">teste</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
        <img src="{% static 'images/monitor_de_tubao.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">teste</h5>
            <p class="card-text">teste</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">teste</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
        <img src="{% static 'images/monitor_de_tubao.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">teste</h5>
            <p class="card-text">teste</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">teste</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
        <img src="{% static 'images/monitor_de_tubao.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">teste</h5>
            <p class="card-text">teste</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">teste</small>
          </div>
        </div>
      </div>
{% load static %}

{% endblock %}