#header {
    background-color: #3498db;
    height: 70px;
}

.navbar-brand {
    color: #fff;
}

.navbar-brand:hover {
    color: #ecf0f1; 
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 100%;
}


.card {
    height: 520px;
    background-color: #ecf0f1;
    border: none; 
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    color: #3498db; 
}

.card-text {
    color: #333; 
}


.btn-primary {
    background-color: #3498db; 
    border-color: #3498db; 
    margin-top: 10px;  
}

.btn-primary:hover {
    background-color: #2980b9; 
    border-color: #2980b9; 
    color: #fff; 
}


#footer {
    background-color: #24242c;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}


.navbar-text {
    display: flex;
    align-items: center; 
}

.navbar-text span {
    margin: 0 auto; 
    color: white; 
    font-size: 14px; 
}

#main-content {
    background-image: url("../image/graphic.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 83vh; 
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: center; 
    align-items: center; 
    max-width: 100%;
    padding-bottom: 60px;
}

#mainpage_card {
    background-color: rgba(236, 240, 241, 0.8); 
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%; 
}


.card-body {
    padding-bottom: 20px; 
}

#main_graphic {
    margin: auto;
    max-width: 85%;
};

#detail_page {
    height: 37.7rem;
}

#graphs{
    padding-bottom: 3%;
}

#legend {
    padding-bottom: 3%;
}


